* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  font-family: "Patrick Hand", cursive;
  height: 100%;
  width: 100%;
}
.container {
  background-image: url(images/69b49f793bf842e3063a40e32a906a2c.jpg);
  height: 100%;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
}
h2 {
  color: white;
}
.git {
  position: absolute;
  top: 5%;
  left: 6%;
}
.github {
  position: absolute;
  top: 5%;
  right: 6%;
}
.html {
  position: absolute;
  top: 35%;
  left: 6%;
}
.Css {
  position: absolute;
  top: 35%;
  right: 6%;
}
.js {
  position: absolute;
  top: 65%;
  left: 30%;
}
h2 {
  text-align: center;
}
